@using TravelPlanner
@using TravelPlanner.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Travel Planner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)<!--this will render addtional style-->

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Travel Planner</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="TravelPlanner" asp-action="SelectCountry">Plan a Trip</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="TravelPlanner" asp-action="MyBookings">My Bookings</a>
                            </li>
                        }

                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="allListDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    View All List
                                </a>
                                <div class="dropdown-menu" aria-labelledby="allListDropdown">
                                    <a class="dropdown-item" asp-controller="Countries" asp-action="Index">Countries</a>
                                    <a class="dropdown-item" asp-controller="Cities" asp-action="Index">Cities</a>
                                    <a class="dropdown-item" asp-controller="Attractions" asp-action="Index">Attractions</a>
                                    <a class="dropdown-item" asp-controller="Hotels" asp-action="Index">Hotels</a>
                                    <a class="dropdown-item" asp-controller="Bookings" asp-action="Index">Bookings</a>
                                </div>
                            </li>
                        
                        @if (User.IsInRole("Administrator"))
                        {
                            
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <a class="dropdown-item" asp-controller="Countries" asp-action="Index">Countries</a>
                                    <a class="dropdown-item" asp-controller="Cities" asp-action="Index">Cities</a>
                                    <a class="dropdown-item" asp-controller="Attractions" asp-action="Index">Attractions</a>
                                    <a class="dropdown-item" asp-controller="Hotels" asp-action="Index">Hotels</a>
                                    <a class="dropdown-item" asp-controller="Bookings" asp-action="Index">Bookings</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Travel Planner - Xiang Lu , Tanzilur Rahman & Basil Erjoub  <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dataTables.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
